@page
@model firstTabaTest.Pages.firstPageModel
@{



}

<h1> is pushing?</h1>

<div style="text-align: center">
	<p style="font-size: 3em; text-shadow: 4px 4px 1px linen">How Much Sugar in these food?</p>
	<p style="font-size: 2em">click on each item to discover how much sugar are you consuming</p>
</div>

<table>
	<thead>
		<tr><th>Snack</th> <th>Junk food</th> <th>Drink</th> <th>Fruit</th></tr>
	</thead>

	<tbody>
		<tr>
			<td><a>KiKat</a></td> <td>Big Mac</td> <td><a>Monster Energy</a></td> <td>Apple</td>
		</tr>
		<tr>
			<td>Oreo Cookies</td> <td>Pizza Slice</td> <td>Coke</td> <td>Orange</td>
		</tr>
		<tr>
			<td>Fruit Yogurt</td> <td colspan="2"></td> <td>Watermelon <br />(lobule)</td>
		</tr>
	</tbody>
</table>

<img src="../Images/cubes.webp" style="width: 250px; height: 240px"/>

<link href="~/css/firstpage.css" rel="stylesheet" />